.form-field {
  width: 100%;
  min-width: var(--form-field-min-width);

  &__element {
    position: relative;
  }

  &__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: var(--form-field-icon-font-size, 15px);
    color: var(--form-field-icon-color, var(--color-dark));

    &_prefix {
      left: var(--form-field-icon-left, 12px);
    }
    &_suffix {
      right: var(--form-field-icon-right, 12px);
    }
  }

  &_prefix {
    --form-field-input-padding-inline: 35px 20px;
  }
}
