.codebox {
  --codebox-foreground: #38bdf8;
  --codebox-background: var(--color-neutral-800);
  --codebox-token-constant: #f59e0b;
  --codebox-token-string: #f59e0b;
  --codebox-token-comment: #64748b;
  --codebox-token-keyword: #f43f5e;
  --codebox-token-parameter: #f59e0b;
  --codebox-token-function: #f59e0b;
  --codebox-token-string-expression: #10b981;
  --codebox-token-punctuation: #cbd5e1;
  --codebox-token-link: #cbd5e1;

  border: 1px solid var(--codebox-border-color, var(--color-slate-700));
  border-radius: 12px;
  overflow: hidden;
  font-family: var(--font-secondary);

  &__header {
    display: flex;
    gap: 16px;
    padding: 11px 15px;
    background-color: var(
      --codebox-header-background-color,
      var(--color-primary-700)
    );
  }

  &__controls {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__control {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--codebox-control-background-color);

    &_close {
      --codebox-control-background-color: var(--color-close);
    }
    &_minimize {
      --codebox-control-background-color: var(--color-minimize);
    }
    &_exit {
      --codebox-control-background-color: var(--color-exit);
    }
  }

  &__title {
    font-size: var(--codebox-title-font-size, 12px);
    color: var(--color-slate-400);
    text-align: var(--codebox-title-text-alignment);
  }

  @media (max-width: 767px) {
    --codebox-title-font-size: 11px;
  }
}

.codebox-style {
  padding: var(--codebox-padding, 24px 24px 24px 64px);
  counter-reset: line-number;
  font-size: var(--codebox-font-size, 13px);
  font-family: inherit;
  width: 100%;
  overflow: hidden;
  white-space: pre-wrap;
  overflow-wrap: anywhere;

  &__code {
    font-family: inherit;
  }

  &__line {
    counter-increment: section;
    position: relative;

    &::before {
      position: absolute;
      top: 0;
      left: var(--codebox-line-before-left, -40px);
      content: counter(section);
      min-width: 24px;
      text-align: right;
      color: var(--color-neutral-400);
      line-height: 1.4;
    }
  }

  @media (max-width: 767px) {
    --codebox-padding: 12px 12px 12px 40px;
    --codebox-font-size: 11px;
  }
}
