.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-family: var(--font-secondary);
  border-bottom: 1px solid rgb(var(--palette-slate-500) / 0.3);
  box-shadow: 0px 2px 8px rgb(var(--palette-black) / 0.3);
  z-index: 10;

  &__wrap {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    align-items: center;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      z-index: 1;
      background-color: var(--color-primary-800);
    }
  }

  &__name {
    font-weight: bold;
    font-family: var(--font-secondary);
    z-index: 1;
  }

  &__burger, &__action {
    z-index: 1;
  }
}
